@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Avenir Next", Avenir, "Segoe UI", sans-serif;
  }

  body {
    @apply bg-darkerBg text-white;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
